/*Main page*/
html, body
{
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

h1, h2, h4
{
  color: white;
}

.text-container, .user-container
{
  height: 100px;
  margin: 20px;
  background: silver;
  border-radius: 20px;
  text-align: center;
}

.text-container
{
  display: flex;
}

.text-container textarea, .user-container button, .user-container p
{
  margin: auto;
  padding: 10px;
}

.text-container textarea
{
  width: 80%;
  height: 50%;
  border-radius: 30px;
}

.feed-container
{
  height: auto;
  margin: 20px;
  background-color: silver;
  border-radius: 30px;
}

.postUser
{
  display: flex;
  height: 50px;
}

.postContent
{
  height: auto;
  color: white;
  margin: 0px 30px 0px 30px;
}

.divider
{
  height: 1px;
  background-color: grey;
  margin: 0px 10px 5px 10px;
}

.postFeedback
{
  display: flex;
  height: 30px;
}

.feedback
{
  margin: 0px 20px 5px 20px;
  text-align: center;
  color: white;
  width: 33.33%;
  height: 100%;
  border-radius: 30px;
}

.feedback:hover
{
  background-color: grey;
}

.user-photo
{
  margin: auto;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.icon-container
{
  background-color: #1b1b1b;
  display: flex;
  height: 15%;
  width: 100%;
}

.icon-container h1
{
  margin: 20px;
  font-size: 2.5em;
  width: 15%;
}

.navBar
{
  margin: auto;
  width: 60%;
}

a button
{
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  padding: 10px;
}

nav a
{
  margin: 10px;
  padding: 5px;
}

.dropDown-container
{
  align-content: center;
  margin: auto;
  width: 25%;
  height: 50px;
  border-radius: 30px;
}

.dropDown-button-container
{
  margin: 7px auto auto auto;
  display: flex;
}

.dropDown-button
{
  text-align: center;
  margin: auto 10px auto 10px;
  height: 50%;
  width: 50%;
  color: black;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.dropDown-content
{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropDown-content a
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropDown-content a:hover
{
  background-color: grey;
  color: white;
}

.show{display: block;}

.columnContainer
{
  display: flex;
  height: 85%;
  width: 100%;
}

.column
{
  background-color: #424242;
  height: 100%;
  overflow: auto;
}

#controlColumn, #friendColumn
{
  width: 20%;
}

.controlContent
{
  display: flex;
  border-radius: 25px;
}

.controlContent:hover
{
  background-color: grey;
}

.control-photo
{
  margin: 10px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

#feedColumn
{
  width: 60%;
}
/*/////////////////////////////////////////////////////*/
/*Settings page*/
/* The switch - the box around the slider */
.switch
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input
{
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before
{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider
{
  background-color: #2196F3;
}

input:focus + .slider
{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*/////////////////////////////////////////////////////*/
/*Profile page*/







/*/////////////////////////////////////////////////////*/
/*Sign-up page*/
